.container {
    background-image: url("../images/background.jpg");
    width: 950px;
    height: 500px;
    margin-left: 200px;
    margin-top: 50px;
    border: 20px solid skyblue;
}

#myBoard {
    padding: 10px;
    margin-left: 20px;
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
